@font-face {
    font-family: 'gotham-bold';
    src: url(../../fonts/gotham/Gotham-Bold.otf);
}

@font-face {
    font-family: 'gotham-medium';
    src: url(../../fonts/gotham/Gotham-Medium.otf);
}

@font-face {
    font-family: 'gotham-regular';
    src: url(../../fonts/gotham/Gotham-Regular.otf);
}

:root {
    --color-pink: #ff0066;
    --color-yellow: #ffff00;
    --color-white: #fff;
    --font--size-span: 1rem;
    --font--size-title: 2.2rem;
    --font--size-text: 1.2rem;
    --font--size-subtitle: 2rem;
    --font--family-regular: 'gotham-regular', sans-serif;
    --font--weight-span: 700;
    --font--family-bold: 'gotham-bold', sans-serif;
    --font--family-medium: 'gotham-medium', sans-serif;
    --font--family-footer: 'Montserrat', sans-serif;
    --font--weight-footer: 500;
}

@media screen and (max-width:480px) {
    :root {
        --font--size-title: 1.5rem;
        --font--size-text: 1rem;
    }
}