@import url(./_reset.css);
@import url(./_variable.css);

body {
    background-color: #000;
}

#bg {
    background-image: url(../../img/bg.webp);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 960px;
    margin: auto;
}

@media screen and (max-width:1080px) {
    html {
        font-size: 93.75%;
    }
}

@media screen and (max-width:720px) {
    html {
        font-size: 87.5%;
    }
}